:root {
  --primary-header-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Common */

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.btn-primary {
  color: #ffffff;
  background-color: var(--accent-color);
}

.btn-secondary {
  color: var(--primary-header-color);
  background-color: #f5f4fa;
}

.title {
  color: var(--primary-header-color);
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

/* Header */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.logo > .light {
  color: #000000;
}
.logo > .dark {
  color: #ffffff;
}

.nav-list {
  color: var(--primary-header-color);
}

/* Hero Section */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Advantages */
.features-list-title {
  color: var(--primary-header-color);
  font-weight: 700;
  line-height: 1.14;
}

.features-list-text {
  line-height: 1.71;
}

/* Staff */
.staff {
  background-color: #f5f4fa;
}

.staff-list li {
  background-color: var(--primary-background-color);
}

.staff-name {
  color: var(--primary-header-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  font-weight: 500;
}

.staff-major {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.footer-address {
  font-style: inherit;
}

.footer-address-text {
  color: #ffffff;
  line-height: 1.71;
}

.footer-address-contact {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
}

.portfolio-list .link:hover,
.portfolio-list .link:focus {
  color: inherit;
}

.portfolio-list li {
  background-color: #ffffff;
}

.portfolio-list-title {
  color: var(--primary-header-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.88;
}
